#butt {
  background-color: red;
   border: none;
   color: white;
   padding: 15px 32px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 12px;
   margin-top:20px;
   border-radius: 25px;
}

#butt:hover{
  background-color:white;
  color:red;
  border:1px solid black;
}

input:invalid {
  border:1px solid red;
}

#bigger{
  font-size:100px;
}

input[type='radio'] {
    transform: scale(4);
}
