#butt {
  background-color: #008CBA;
   border: none;
   color: white;
   padding: 15px 32px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 12px;
   margin-top:20px;
   border-radius: 25px;
}

#butt:hover{
  background-color:white;
  color:#008CBA;
  border:1px solid black;
}

input:invalid {
  border:1px solid red;
}
