<!DOCTYPE html>
<html ng-app="EvilrentApp">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Evil Rent</title>

    <!-- Bootstrap Core CSS -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../css/heroic-features.css" rel="stylesheet">
    <link href="../css/style.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="../js/app.js"></script>
    <script src="../js/rentController.js"></script>

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="index.html">Verify Rent Increase</a>
                    </li>
                    <li>
                        <a href="resource.html">Resources</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">

        <!-- Title -->
        <div class="row">
            <div class="col-lg-12">
              <img class="center-block" src="Logo.jpg" height="300px" width="200px"></img>
              <br><br>
                <h3 class="text-center">Renter's Resources</h3>
                  <br>
                  <h4 class="text-center">In Los Angeles Rent Control is defined in the city's Rent Stabilization Ordinance (RSO). </h4>

                  <br><br><br>
                <p class="text-center"> Generally, the RSO applies to rental properties that were first built on or before October 1, 1978 as well as replacement units under LAMC Section 151.28 and is any of the following:</p>
                <ul>
                  <li> Apartment</li>
                  <li> Condominium</li>
                  <li> Townhome</li>
                  <li> Duplex</li>
                  <li> Two or more single family dwelling units on the same parcel</li>
                  <li> Rooms in a hotel, motel, rooming house or boarding house occupied by the same tenant for 30 or more consecutive days</li>
                  <li> Residential unit(s) attached to a commercial building</li>
                </ul>
                <br>
                <br>
                <p align="center"> RSO is enforced by the Los Angeles Housing + Community Investment Department</p>
                <p align="center">
                <a href="http://hcidla.lacity.org/RSO-Overview" target="_blank" id="butt"> Find out more at their site</a>
              </p>
            </div>
        </div>
        <!-- /.row -->


        </div>
        <!-- /.row -->

        <hr>

        <!-- Footer -->
        <footer class="text-center">
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Evil Rent 2016</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</body>

</html>
